doctype html
block vars
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name="format-detection" content="telephone=no")
        title #{title} | static website builder
        link(rel="apple-touch-icon" href="img/apple-touch-icon.png")
        link(rel="shortcut icon" type="image/x-icon" href="img/favicon.ico")
        link(href='/css/vendor.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
    body
        #pagePreloader.Preloader.Preloader-active
        
        include ./includes/blocks/Header.pug

        main.MainContent
            block content

        include ./includes/blocks/Footer.pug

        script(src='/js/vendor.js')
        script(src='/js/common.js')

        block page_bottom