.MortgageCalc
	display flex
	flex-flow row nowrap
	justify-content space-between
	align-items center
	margin 0 auto
	@media $smMinus
		flex-wrap wrap
	&_option
		width 373px
		height 50px
		border-radius 2px
		background #ffffff
		border solid 1px #ededed
		padding 0 15px
		position relative
		display flex
		flex-flow row nowrap
		justify-content space-between
		align-items center
		@media $smMinus
			flex-basis 100%
			&:not(:last-child)
				margin-bottom 25px
	&_text
		font-weight 500
		@media $xs
			font-size 1.2rem
		@media $sm
			font-size 1.6rem
	&_sumWrapper
		display flex
		flex-flow row nowrap
		justify-content flex-end
		align-items center

	&_sum,
	&_sign
		display inline-block
		font-weight bold
		@media $xs
			font-size 1.2rem
		@media $sm
			font-size 1.6rem
	&_sign
		padding-left 5px
	&_sum
		padding 8px 5px 8px 10px